*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sliderfour_Container{
    padding: 30px 35px 20px 35px;
    /* border : 1px solid red; */
    background-color: #2D2D2D;
}
.sliderfour_Container > h2{
    color: #ffffff;
    font-size: 18px;
    padding: 10px 0 0px 10px;
    font-weight: bold;
    text-align: left;
    border-top: 1px solid rgb(255, 255, 255, 0.1);
}
.titleDesc{
    font-size: 15px;
    color: rgb(255, 255, 255, 0.64);
    text-align: left;
    padding-bottom: 15px;
    padding-left: 10px;
}
.sliderfourBox{
    padding: 0 10px;
    /* border : 1px solid red; */
    background-color: transparent;
    text-align: left;
    cursor: pointer;
}
.sliderfourBox :hover{
    opacity: 0.5;
}
.sliderfourBox > img{
    width: 100%;
    border-radius: 20px;
    
}
.episodefourPara{
    font-size: 11px;
    color: rgb(255, 255, 255, 0.64);
    margin : 5px 0 0 0;
}
.episodefourName{
    font-size: 15px;
    color: rgb(255, 255, 255, 0.92);
    /* line-height: 15px; */
}
.episodethreeDescription{
    font-size: 12px;
    color: rgb(255, 255, 255, 0.64);
    margin: 3px 0 0 0;
    /* line-height: 15px; */
}